/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

/* base styles */
* {
  margin: 0;
  /* font-family: "Quicksand"; */
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #04e762;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #04e762;
}
.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #04e762;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #04e762;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #04e762;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #04e762;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #04e762;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}





.card_container {
  margin-top: 5px;
  margin-bottom: 5px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* transition: 0.0s; */
  /* background-color: white;
  border-radius: 4px; */ 
}

.container:hover {
/*  border:2px solid #BBDFCD; */
  /* border-top: 3px solid #BBDFCD ; */
  border-left: 3px solid #0B733E ;
  /* border-bottom: 3px solid #BBDFCD;
  border-right: 3px solid #BBDFCD; */
}

.idea_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 585px;
  margin-left: 19px;
  margin-right: 10px;
}

.upvote {
width: 25px;
  height: 25px;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.avatar {
  width: 180px;
  height: 180px;
}

.vote_count{
  font-size: 6;
}

.end_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  /* margin-left: 10px;
  margin-right: 10px; */
  align-self: flex-end;

}

.inner_middle_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.outer_most_container{
  display: flex;
  flex-direction: row;
  display: flex;

  justify-content: center;
}

.shortlisting_banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 10px solid #0B733E;
  background-color: #0B733E;
  border-radius: 5px;
  box-shadow: inset;
}

.member{
  width: 20px;
  height: 20px;

}

.count_section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  align-self: flex-end;
  margin-left: 10px;
  margin-right: 10px; 
}



Link {
  text-decoration: none;
}